@tailwind base;
@tailwind components;
@tailwind utilities;

/* External stylesheet for scrollbar customization */
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}
