{% extends "base/home.html" %}
{%load static%}

{% block home-content %}
<div class=" lg:justify-center text-gray-500 py-5">
  <div class="flex flex-row bg-purple-700 rounded-t   px-2 py-3 items-center">
    <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'assets/icons/arrow-left.svg' %}" class="w-4 h-4 "
        alt="left-arrow"></a>
    <a href="{{request.META.HTTP_REFERER}}" class="  mx-2 py-1  text-sm  text-white">Go
      Back</a>
  </div>
  <form action="" method="POST" class="bg-gray-700  rounded-b lg: lg:mx-30 lg: px-5 py-5">
    {% csrf_token %}
    <p class="text-sm">are you sure you want to delete? {{pbj}}</p>
    <input type="submit" value="confirm" class="px-2 py-1 ml-2 bg-red-900 rounded" />
  </form>
</div>
{% endblock home-content %}