{%extends 'base/home.html' %}
{%load static %}

{% block home-content %}

<!--message edit start-->
<div class="h-screen">
    <div class="col-span-2 text-gray-500 mb-4 h-64">
        <form action="" method="POST" class="bg-gray-700 pt-2 mt-3 rounded " enctype="multipart/form-data">
            <div class="flex flex-row bg-purple-700 rounded sm:mx-10 mx-3 px-5 py-1 items-center">
                <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'assets/icons/arrow-left.svg' %}"
                        class="w-4 h-4 " alt="left-arrow"></a>
                <div class="text-lg text-gray-400 pl-2">Edit Reply Message</div>
            </div>
            {% csrf_token %}
            <div class="sm:mx-20 px-3 my-2 pb-2 ">
                <div class="flex flex-row gap-2 items-center">
                    {% if message.image %}

                    <P>
                        current image: <img src="{{message.image.url}}" class="w-50 h-40 py-2 px-2" alt="image">
                    </P>

                    {%endif%}

                    {% if message.video %}
                    <p>
                        current video: <video src="{{message.video.url}}" type="video/mp4" controls width="200"
                            height="200">
                    </p>

                    </video>
                    {%endif%}

                    {% if message.audio %}
                    <p>
                        current audio: <audio src="{{message.audio.url}}" controls></audio>
                    </p>

                    {%endif%}
                    <!-- <input class="inline" type="file" name="replied_message_file"> -->
                    <div class="relative inline-block">
                        <input type="file" id="file-input"
                            class="absolute inset-0 w-full h-full opacity-0 cursor-pointer hidden"
                            name="replied_message_file" onchange="updateFileName()">
                        <label for="file-input"
                            class="flex flex-row gap-2 items-center text-lg text-gray-700 cursor-pointer hover:text-blue-500">
                            <img src="{% static 'assets/icons/file.png' %}" class="w-10 h-10" alt="file-upload icon">
                            <p>upload file</p>
                        </label>
                        <span id="file-name" class="ml-3 text-gray-700"></span>
                    </div>

                    <script>
                        function updateFileName() {
                            const input = document.getElementById('file-input');
                            const fileNameSpan = document.getElementById('file-name');
                            if (input.files.length > 0) {
                                fileNameSpan.textContent = input.files[0].name;
                            } else {
                                fileNameSpan.textContent = '';
                            }
                        }
                    </script>




                </div>
                <textarea type="text" name="body" required
                    class=" w-full h-full flex-wrap focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-64 rounded bg-opacity-50 border border-green-500">{{message.replied_text}}</textarea>

                <input type="submit" class="mt-2 bg-yellow-500 rounded p-2 m-2" value="Update">
            </div>
        </form>
    </div>
</div>
<!--message edit end-->

{% endblock home-content %}