{%extends 'main.html' %}
{%load static %}

{% block content %}
<div class="grid grid-flow-col col-gap-2">
    <!--Topic start-->
    <div class="col-span-3 text-gray-500 ">
        {% include 'base/topics_component.html' %}
    </div>
    <!--Topic end-->
    <!--message edit start-->
    <div class="col-span-3 text-gray-500 mb-4 h-64">
        <form action="" method="POST" class="bg-gray-700 pt-2 mt-3 rounded ">
            {% csrf_token %}
            <div class="mx-20 my-2 pb-2 ">
                <div class="text-lg text-gray-400 pb-2 my-3">Edit Message</div>
                <textarea type="text" name="body" required
                    class=" w-full h-full flex-wrap focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-64 rounded bg-opacity-50 border border-green-500">{{message.body}}</textarea>
                <input type="submit" class="mt-2 bg-yellow-500 rounded p-2 m-2" value="Update">
            </div>
        </form>
    </div>
    <!--message edit end-->
    <!-- activities start-->
    <div class="col-span-3 text-gray-500 ">
        {% include 'base/activity_component.html' %}
    </div>
    <!--activities end -->
</div>
{% endblock content %}