{% extends "base/home.html" %} {%block home-content%}
{% load static %}
<div class="mt-10 mx-4">
    <div class="bg-gray-700  text-white rounded ">
        <div class=" flex flex-row bg-purple-700 rounded items-center pl-2">
            <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'assets/icons/arrow-left.svg' %}"
                    class="w-4 h-4 " alt="left-arrow"></a>
            <p class="text-xl text-gray-500 font-semibold ml-2">Edit profile</p>

        </div>
        {% if messages %}
        <ul class="my-2 mx-20">
            {% for message in messages %}
            <li class="text-xs text-red-500 pb-2">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data" class="my-2 w-full">

            {% csrf_token %}
            <!--form to create form-->
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">Profile photo</div>
                <small class="mb-2">current photo <img src="{{user.avatar.url}}"
                        class="w-20 h-15 px-4 text-white inline pb-2" alt="photo">{{user.avatar.url}}</small>
                <input type="file" name="profileImage"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">User name</div>
                <input type="text" name="username" placeholder="write user name . . ." required
                    value="{{user.username}}"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">Your name</div>
                <input type="text" name="name" placeholder="write your name . . ." required value="{{user.name}}"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">Your Bio</div>
                <input type="text" name="bio" placeholder="write your bio. . ." required value="{{user.bio}}"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">Email</div>
                <input type="text" name="email" placeholder="write user email . . ." required value="{{user.email}}"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>
            <div class="mx-20 my-2 pb-2">
                <div class="text-sm text-gray-400 pb-2">Password</div>
                <input type="password" name="password" placeholder=" write password  . . ." required
                    value="{{user.password}}"
                    class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
            </div>



            <div class="flex flex-row justify-end mr-2 pr-2  pb-4">
                <input type="reset" value="Cancel" class="mr-2 px-2 py-1 bg-gray-500 rounded hover:bg-red-500">
                <input type="submit" value="Update" class="bg-green-400 rounded px-2 py-1 hover:bg-blue-700" />
            </div>
        </form>
    </div>
</div>
{% endblock home-content %}