{% load static %}
<div>

    {% for room in rooms%}
    <div class="bg-gray-700 my-2 rounded mx-2">
        <div class="flex flex-row justify-between mb-2">
            <div class="flex flex-row justify-center mx-2 my-2">
                <img src="{%static 'images/dennis.jpg' %}" alt="" class="w-8 h-8 rounded-full">
                <a href="{% url 'user-profile' room.host.id %}" class="ml-2 text-teal-400">@{{room.host.username}}</a>
            </div>
            <p class="text-sm font-light">{{room.created|}}</p>
        </div>
        <h5 class="mx-2 mb-4">
            <a href="{% url 'room' room.id %}">{{room.name}}</a>
        </h5>
        <hr style="color:lightblue; opacity: 0.2;">
        <div class="flex flex-row justify-between mx-2 py-2">
            <div class="mx-2">
                <p>5 Joined</p>
            </div>
            <p class="mx-2 text-lg font-medium"><small>{{room.topic.name}}</small></p>
        </div>
        <!-- {% if room.host == request.user %}
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">delete</a>
        {% endif %} -->



    </div>
    {% endfor %}
</div>