{% extends "main.html" %} {% block content %}

<div class="grid grid-flow-col">
  <div class="col-span-4 bg-gray-100 text-gray-500">
    <h3 class="text-black">Browse Topics</h3>
    <hr />
    <a href="">All</a>
    {% for topic in topics %}
    <div>
      <a href="{% url 'home'   %}?q={{topic.name}}">{{topic.name}}</a>
    </div>

    {% endfor %}
  </div>

  <div class="col-span-8">
    <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create-room' %}">Create room</a>

    {% for room in rooms%}
    <div class="">
      <a href="{% url 'update-room' room.id %}">Edit</a>
      <a href="{% url 'delete-room' room.id %}">delete</a>
      <span>@{{room.host.username}}</span>
      <h5>
        <a href="{% url 'room' room.id %}">{{room.id}}---{{room.name}}</a>
      </h5>
      b
      <small>{{room.topic}}</small>
      <hr />
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
