{% extends "base/home.html" %} {% block home-content %}
{% load static %}
<div class="items-center">
  <div class="bg-gray-700 text-white rounded ">
    <div class=" flex flex-row bg-purple-700 rounded items-center pl-2">
      <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'assets/icons/arrow-left.svg' %}" class="w-4 h-4 "
          alt="left-arrow"></a>
      <p class="text-xl text-gray-500 font-semibold ml-2">{% if type == 'update'%}Update Room {%else%}Create Room
        {%endif%}</p>

    </div>
    <form method="POST" action="" enctype="multipart/form-data" class="my-4">
      {% csrf_token %}
      <!--form to create form-->
      <div class="mx-20 my-2 pb-2">
        <div class="text-sm text-gray-400 pb-2">Room Topic</div>
        <input type="text" required placeholder="topic..." name="topic" list="topic_list"
          class="focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-64 rounded bg-opacity-50 border border-green-500"
          value="{{room.topic.name}}">


        <datalist id="topic_list">
          <select id="room_topic">
            {% for topic in topics %}
            <option value="{{topic.name}}">{{topic.name}}</option>

            {%endfor%}
          </select>
        </datalist>
      </div>
      <div class="mx-20 my-2 pb-2">

        <div class="text-sm text-gray-400 pb-2">Room Image</div>
        {%if room.roomImage.url%}
        <small class="mb-2">current photo <img src="{{room.roomImage.url}}"
            class="w-20 h-15 px-4 text-white inline pb-2" alt="photo"></small>
        {%endif%}
        <input type="file" name="roomImage"
          class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-64 rounded bg-opacity-50 border border-green-500">
      </div>
      <div class="mx-20 my-2 pb-2">
        <div class="text-sm text-gray-400 pb-2">Room Name</div>
        <input type="text" name="name" placeholder="room name ..." required value="{{room.name}}"
          class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-64 rounded bg-opacity-50 border border-green-500">
      </div>
      <div class="mx-20 my-2 pb-2">
        <div class="text-sm pb-2 text-gray-400">Room Description</div>
        <textarea name="description" placeholder="Add description here..." id="desc_text"
          class="focus:outline-none focus:border-yellow-500 w-64 px-4 bg-gray-500 rounded bg-opacity-50 text-sm py-2 border border-green-500 ">{{room.description}}</textarea>
      </div>

      <div class="flex flex-row justify-end mr-2 pr-2  pb-4">
        <input type="reset" value="Clear" class="mr-2 px-2 py-1 bg-gray-500 rounded hover:bg-red-500">
        <input type="submit" value="Submit" class="bg-green-400 rounded px-2 py-1 hover:bg-blue-700" />
      </div>
    </form>
  </div>
</div>
{% endblock home-content %}