{% extends "main.html" %} {% block content %}
{%load static %}
<div class="grid grid-flow-col grid-cols-4 gap-2">

  <div class=" bg-gray-700 mx-2 col-span-3 max-h-screen overflow-y-auto scrolbar-thin">
    <div class="flex flex-row items-center justify-start  mt-2 px-2 bg-purple-700 rounded">
      <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'assets/icons/arrow-left.svg' %}" class="w-4 h-4 "
          alt="left-arrow"></a>
      <p class="text-xl text-gray-500 font-semibold ml-2">Study Room</p>
    </div>
    <div class="flex flex-row justify-between mt-2 px-2">
      <div class="w-auto">
        <h2 class="font-semibold text-md text-teal-500">{{room.name}}</h2>
        <p>Hosted By</p>
        <div class="flex flex-row">
          <div class="relative">
            <img src="{{room.host.avatar.url}}" class="w-8 h-8 rounded-full inline" alt="">
            <p class="bg-green-500 w-2 h-2 absolute rounded-full" style="top: 1rem;right: 0;">
              </span>
          </div>
          <div class="ml-2 font-normal">
            <p class="text-teal-500 "> <a href="{%url 'user-profile' room.host.id %}">@{{room.host.username}}</a></p>
          </div>

        </div>
        <div class="font-normal ml-2 bg-gray-900 px-2 text-sm rounded my-2">
          <p class="w-full py-3 px-2">{{room.description}}</p>
        </div>
        <a href="{% url 'home'   %}?q={{room.topic.name}}" class="w-full">
          <p class=" mt-2  font-sm bg-gray-600 rounded px-2  text-sm w-full">{{room.topic.name}}</p>
        </a>
      </div>
      <p class="text-sm mr-2">{{room.created|timesince}} ago</p>
    </div>



    <div class="mx-2 bg-gray-900  ">
      <h3>Conversations</h3>
      <div class=" overflow-y-scroll">
        {% for message in room_messages %}
        <div class=" border-l border-green-500 m-2 p-2 ">
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <div class="relative">
                <img src="{{message.user.avatar.url}}" class="w-8 h-8 rounded-full inline" alt="">
                <p class="bg-green-500 w-2 h-2 absolute rounded-full" style="top: 1rem;right: 0;">
                  </span>
              </div>
              <div class="ml-2 flex flex-row">
                <small> <a href="{% url 'user-profile' message.user.id %}"
                    class="text-teal-500">@{{message.user.username}}

                  </a>
                </small>
                <p class="text-sm font-thin ml-2">{{message.created|timesince}} ago

                </p>
              </div>
            </div>


            {% if current_user == message.user%}
            <a href="{% url 'delete-message' message.id %}"><img src="{%static 'assets/icons/remove.svg' %}"
                class="w-4 w-4 bg-blue-400" alt="delete"></a>
            {% endif %}

          </div>

          <p
            class="bg-gray-400 bg-opacity-25 border-b border-yellow-200 border-opacity-50 mt-3 px-2 py-2 rounded text-sm table">
            {{message|truncatewords:'100'}}
          </p>
          <p class="text-white py-1">
            <small class="mx-2 items-center py-1 px-2 bg-green-600  rounded-b ">likes
              {{message.num_of_likes}}</small>
            <small class="mx-2 items-center py-1 px-2 bg-green-600  rounded-b " id="show_reply_input{{message.id}}"
              onclick="{replyTo('show_reply_input{{message.id}}','input_field{{message.id}}')}">reply
              {{message.id}}</small>
          <div id="input_field{{message.id}}" style="display: none;">
            <form>

              <div class="mx-20 my-2 pb-2">
                <input type="text" hidden name="messageId" value="{{message.id}}">
                <input type="email" hidden name="replier" value={{request.user.email}}>
                <input type="text" id="message_gody{{messa.id}}" name="body" placeholder="reply here . . ." required
                  class=" focus:outline-none focus:border-yellow-500 text-sm px-2 py-2  bg-gray-500 w-full rounded bg-opacity-50 border border-green-500">
                <button class="button-small bg-blue-700 px-2 py-1 rounded inline" type="submit"
                  onclick="{handleSubmit()}">reply</button>
              </div>
            </form>
            <div>
              {% for reply in replies%}
              {%if reply.message.id == message.id%}
              <div class="bg-gray-600">
                <p class="text-white">{{reply.replier.username}}</p>
                <p class="text-sm text-white">{{reply.created}}</p>
                <p>{{reply.replied_text}}</p>
              </div>
              {%endif%}

              {%endfor%}
            </div>
          </div>
          </p>
          </p>

          <script>
            var flag = 0;

            function replyTo(messageId, InputField) {
              icon = document.getElementById(messageId);
              element = document.getElementById(InputField);
              if (flag == 0) {
                element.style.display = 'block';
                flag = 1;
                console.log('clicked', 'flag = ', flag)

              }

              else {

                let data = () =>
                  element.style.display = 'none';
                flag = 0;
                console.log('none clicked', 'flag = ', flag)
              }
            }



            let handleSubmit = async () => {
              console.log('handle submit clicked');
              let data = {
                body: document.getElementById('message_gody{{messa.id}}').value,
                messageId: '{{ message.id }}',
                replier: '{{request.user.id}}'
              };



              fetch('/replyMessage/', {
                method: 'POST',
                headers: {
                  'content-type': 'application/json'
                },
                body: JSON.stringify(data),

              }
              );

            }
            // icon.addEventListner(click, () => { elements.style.color = 'red' })
          </script>

        </div>


        {% endfor %}
      </div>
    </div>


    <div class="">
      <form action="" method="POST" class=" py-2 relative px-2 ">
        {% csrf_token %}
        <input class="bg-gray-600 text-sm text-gray-200  p-2 rounded absolute w-full sticky" type="text" name="body"
          placeholder="write your message here.." />
      </form>
    </div>

  </div>

  <div class="grid-cols-4 bg-gray-700 mx-2 col-span-1 max-h-screen overflow-y-auto scrolbar-thin">
    <div class="bg-purple-700 rounded pl-2  mt-2">
      <p class="text-xl text-gray-500 font-semibold mr-2 inline">Participants </p> <span
        class="text-sm ">{{room.participants.count}} Joined</span>
    </div>

    {% for user in participants%}
    <div class="flex flex-row mt-2 px-2 mx-2">
      <div class="relative">
        <img src="{{user.avatar.url}}" class="w-8 h-8 rounded-full inline" alt="">
        <p class="bg-green-500 w-2 h-2 absolute rounded-full" style="top: 1rem;right: 0;">
          </span>
      </div>
      <div class="ml-2 text-gray-500 font-normal">
        <p class="text-teal-500 ">@{{user.username}}</p>
        <p>{{user.bio|truncatewords:'20'}}</p>
      </div>

    </div>

    {% endfor %}
  </div>

</div>
{% endblock content %}