{% load static %}
<nav class="grid grid-cols-3 justify-start w-screen mx-0 sm:justify-between items-center bg-gray-900  left-0 py-2">
  <div class=" col-span-2 flex justify-start sm:ml-2 sm:items-center">
    <div class="flex flex-row sm:items-center justify-start mr-2">
      <a href="/" class="mt-1 px-2">
        <img src="{% static '/images/logo.svg' %}" alt="profile_img" class=" w-8 h-8 sm:w-8 sm:h-8 rounded" />
      </a>
      <h2 class="text-white hidden sm:block sm:text-4xl sm:ml-1 sm:pl-1 sm:mt-1 text-sm">StudyBuddy</h2>
    </div>
    <div class=" flex flex-row sm:ml-4 pb-0 ml-2 ">
      <form action="{% url 'home' %}" method="GET" class=" flex flex-row rounded sm:px-2 mb-0 pb-0 ">
        <input
          class="focus:outline-none focus:border-yellow-500 text-sm sm:px-2 py-2  bg-gray-500 sm:w-64 rounded bg-opacity-50 border border-green-500"
          type="text" name='q' placeholder=" search rooms...">
        <button type="submit" class=""> <svg class="w-5 h-5 ml-2 mt-2 fill-current" version="1.1"
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>search</title>
            <path
              d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
            </path>
          </svg>
        </button>
      </form>
    </div>
  </div>

  <div class=" col-span-1 sm:mr-2 text-white sm:mr-16 sm:pr-16">
    <div class=" flex flex-row items-center  sm:ml-4 sm:sm:px-4 pb-0 pt-2 justify-end ">
      <div class="relative  mr-2">
        <img src="{%static 'images/Yike.png' %}" alt="" class="w-8 h-8 rounded-full mx-2">
        <p class="bg-green-500 w-2 h-2 absolute rounded-full" style="top: 1rem;right: 0;">
          </span>
      </div>
      <div class="text-sm text-gray-500  h-8">
        <p class="flex flex-row sm:ml-2 items-center">
          <a href="{%url 'user-profile' request.user.id%}">
            <span>{{request.user}}</span>
          </a>
          <svg class="w-4 h-4 sm:ml-8 mt-2 fill-current" id="nav_down_icon" onclick="{showElement()}"
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>

        </p>
        <div class=" sm:ml-2 mr-2 " id="drop_down_element" style="visibility:hidden;">
          <div class="relative sm:mx-5 bg-black  sm:px-2  py-2 px-2">
            <div class="sm:px-2 sm:mx-2 ">
              <p>
                {% if request.user.is_authenticated %}
              <p class="flex flex-row fill-current items-center">

                <svg class="w-4 h-4" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 32 32">
                  <title>sign-out</title>
                  <path
                    d="M3 0h22c0.553 0 1 0 1 0.553l-0 3.447h-2v-2h-20v28h20v-2h2l0 3.447c0 0.553-0.447 0.553-1 0.553h-22c-0.553 0-1-0.447-1-1v-30c0-0.553 0.447-1 1-1z">
                  </path>
                  <path
                    d="M21.879 21.293l1.414 1.414 6.707-6.707-6.707-6.707-1.414 1.414 4.293 4.293h-14.172v2h14.172l-4.293 4.293z">
                  </path>
                </svg>
                <a href="{% url 'logout' %}" class="ml-2">Logout</a>
              </p>
              {% else %}
              <a href="{% url 'login' %}">Login</a>
              {% endif %}
              </p>
              <p class="flex flex-row items-center">
                <svg class="w-4 h-4 fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32"
                  height="32" viewBox="0 0 32 32">
                  <title>ellipsis-horizontal</title>
                  <path
                    d="M16 7.843c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 1.98c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
                  </path>
                  <path
                    d="M16 19.908c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 14.046c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
                  </path>
                  <path
                    d="M16 31.974c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 26.111c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
                  </path>
                </svg>


                <a href="" class="ml-2">setting</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>

<script>
  var flag = 0;
  icon = document.getElementById('drop_down_element');
  element = document.getElementById('drop_down_element');
  function showElement() {
    if (flag == 0) {
      element.style.visibility = 'visible';
      flag = 1;
    }
    else {
      element.style.visibility = 'hidden';
      flag = 0;
    }
  }
  // icon.addEventListner(click, () => { elements.style.color = 'red' })
</script>