{% load static %}
<nav class="flex justify-between items-center bg-gray-900">
  <div class="flex justify-start ml-2 items-center">
    <div class="flex flex-row items-center">
      <a href="/" class="mt-1">
        <img src="{% static '/images/logo.svg' %}" alt="profile_img" class="w-8 h-8 rounded" />
      </a>
      <h2 class="text-white text-4xl ml-1 pl-1 mt-1">StudyBuddy</h2>
    </div>
    <div class=" flex flex-row ml-4 pb-0">
      <form action="{% url 'home' %}" method="GET" class=" flex flex-row rounded px-2 mb-0 pb-0">
        <input class="bg-gray-300 mx-2 text-blue-700 px-2 py-2 rounded border-gray-500 w-64" type="text" name='q'
          placeholder=" search rooms...">
        <span class=""> <img src="{% static '/images/icons/search.svg'%}" alt="searh_icon" class="h-6 w-6 my-2"></span>
      </form>

      {% if request.user.is_authenticated %}

      <a href="{% url 'logout' %}">Logout</a>

      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}


    </div>
  </div>

  <div class="items-center mr-2 text-white mr-16 pr-16">
    <div class=" flex flex-row ml-4 px-4 pb-0">
      <img src="{% static '/images/dennis.jpg' %}" alt="profile_img" class="w-10 h-10 rounded-full pb-0" />
      <div class="mx-2 text-sm text-gray-500">
        <p class="flex flex-row">
          <span>Yike</span>
          <img src="{%static '/assets/icons/chevron-down.svg' %}" class="w-4 h-4 ml-4 mt-2 " alt="logout arrow">
        </p>
        <p>@yike</p>
      </div>
    </div>
  </div>
  </div>
  <hr />
</nav>